<div>
    <h1>Super Coder Chat</h1>
        <hr/>
        <input type="text" id="chatBox">
        <div id="history"></div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/indexchat.js"></script>